package cmd

import (
	"fmt"
	"log"

	"github.com/DanielHakim98/aoc/day{{.Day}}"
	"github.com/DanielHakim98/aoc/utils"
	"github.com/spf13/cobra"
)

var day{{.Day}}Cmd = &cobra.Command{
	Use:   "day{{.Day}}",
	Short: "A brief description of your command",
	Long: `A longer description that spans multiple lines and likely contains examples
and usage of using your command. For example:

Cobra is a CLI library for Go that empowers applications.
This application is a tool to generate the needed files
to quickly create a Cobra application.`,
	Run: func(cmd *cobra.Command, args []string) {
		if len(args) != 1 {
			log.Fatal("No filename is passed in")
		}
		d := day{{.Day}}.Day{{.Day}}{}
		switch part {
		case 1:
			fmt.Println("Part 1 is called. Result: ", d.PartOne(args[0], utils.GetInput))
		case 2:
			fmt.Println("Part 2 is called. Result: ", d.PartTwo(args[0], utils.GetInput))
		default:
			log.Fatal("Invalid 'part' flag")
		}
	},
}

func init() {
	rootCmd.AddCommand(day{{.Day}}Cmd)

	// Here you will define your flags and configuration settings.

	// Cobra supports Persistent Flags which will work for this command
	// and all subcommands, e.g.:
	// day{{.Day}}Cmd.PersistentFlags().String("foo", "", "A help for foo")

	// Cobra supports local flags which will only run when this command
	// is called directly, e.g.:
	// day{{.Day}}Cmd.Flags().BoolP("toggle", "t", false, "Help message for toggle")
	day{{.Day}}Cmd.Flags().IntVarP(&part, "part", "p", 0, "part to run")
}
